header
{
	text-align:center;
	color:black;
}

nav
{
	text-align:center; 
	font-size: 18px;
	font-family:"Luminari", cursive; 
	color: white;
	margin-bottom: 30px;
}

nav ul
{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

li
{
	display:inline;
}

a
{
	text-decoration: none;
	color:white;
  	padding: 40px;
}

nav.nav ul li a:hover 
{
  color: #4FF136;
}

h1
{
	font-family:"Luminari", cursive;
}

footer	
{
 	font-size: 14px;
	background-color:black;
	font-family:"Luminari", cursive;
	padding-top: 20px;
	padding-bottom: 40px;
}
ul.footernav li
{
	display:block;
	padding:10px;
	padding-left: 80px;
}
div.footernav li a:hover
{
	color:#FC8324;
}
div
{
	font-size: 14px;
	color:white;
	font-family: "Luminari", cursive;
	/* text-align: right; */
}

#footer-image
{
	margin-left: auto;
    margin-right: auto;
}

.socialicons
{
	float: right; 			
	height:25px; width: 25px; 
	padding: 5px;
	margin-right: 1%; 
	/* margin-bottom: 0.5em; */
	padding-right: 30px;
	

}

@keyframes changeB {
	0% {background-color: rgb(131, 120, 97);}
	25% {background-color: rgb(167, 151, 110);}
	50% {background-color: rgb(150, 138, 133);}
	75% {background-color: rgb(96, 102, 95);}
	100% {background-color: rgb(131, 120, 97);}
	
}

body {
	background-image: url("paper.gif");
	background-color:rgb(161, 180, 163);
	animation-name: changeB;
	animation-duration:20s;
	animation-iteration-count: infinite;
}

.container {
            width: 70%;
            margin-left: auto; margin-right: auto;
            margin-bottom:30px;
            padding: 20px 20px;   
        }
