
body{
	font-family:"Luminari","zsazsa-galore",  cursive ;;
	font-style: normal;
	font-size: 14px;
	color:white;
	background-color:rgb(161, 180, 163);
}
h1
{
	text-align: center;
	font-size: 35px;
	margin:0;
	padding:0;
	margin-bottom: 30px;
	color: black;
}
h2 {
	text-align: center;
	font-size: 25px;
	font-weight: lighter;
	color: #FC8324;
	margin-bottom: 0%;
}
h3 {
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
	color: black;
}

p {
	color: black;
	font-size: 22px
}

a
{
	text-decoration: none;
	color:white;
}

.container {
            width: 70%;
            margin-left: auto; margin-right: auto;
            margin-bottom:30px;
            padding: 20px 20px;   
        }
		


.SocialIconBar {
	margin-left: auto;
  	margin-right: auto;
}


.socialicons
{
	float: right; 			
	height:25px; width: 25px; 
	padding: 5px;
	margin-right: 1%; 
	 margin-bottom: 0.5em; 
	padding-right: 30px;
	padding-bottom:10px;
}
header
{
	text-align:center;
	color:black;
	margin:40px;
}

header img {
  			display: block;
  			margin-left: auto;
  			margin-right: auto;
  			width: 50%;
}
.headNav
{
	text-align:center; 
	font-size: 18px;
}
nav.headNav a:hover 
{
  color: #4FF136;
}
nav.headNav
{
    text-align:center;
    font-size: 18px;
    color: white;
	margin-bottom: 40px;
}
nav.headNav ul
{
      list-style-type: none;
      margin: 0;
      padding: 0;
}
nav.headNav li
{
	display:inline;
	padding: 15px;
}

footer	
{
	text-align:center;	
 	font-size: 14px;
	background-color:black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
}
nav.footerNav ul{
	list-style-type: none;
  	margin: 0;
  	padding: 10px;
	line-height: 2.0;
}
.footerNav a:hover{
	color: #4FF136;
}




@keyframes changeB {
	0% {background-color: rgb(131, 120, 97);}
	25% {background-color: rgb(167, 151, 110);}
	50% {background-color: rgb(150, 138, 133);}
	75% {background-color: rgb(96, 102, 95);}
	100% {background-color: rgb(131, 120, 97);}
	
}



@media screen and (max-width : 396px ){
  .top_menu {
    float:left;
	  padding: none;
   /* width: 100%;*/
  }

	header{
		float:none;
		width:100%;
		margin:20px;
		padding: 10px;
	}
	header a{
		padding:15px;
	}
	iframe{
		width:100%
	}
	table{
		width:100%
	}
	.center{
		width:75%;
	}
	nav a {
		padding : 10px;	
	}
	nav ul{
		line-height: 2.0
	}

	body {
		width:100%;
	}
iframe {
    display: block;
    margin: 0;
	width:100%;
	}
}
